#enrollmentTabContent .searchBG,
#applicantTabContent .searchBG {
    color: white;
    background-color: #800000;
    padding: .1rem .5rem;
    font-size: 11px;
}

select:invalid {
    color: gray;
    font-style: oblique;
    font-size: 0.8rem;
    padding: .1rem 0;
}

option {
    color: black;
    font-style: normal;
}

#viewApplicantEnrolledStudents td {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 5px;
}

#viewApplicantEnrolledStudents {
    border: 0.1px solid rgb(221, 220, 220);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

ul#viewTab.nav {
    background-color: maroon;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: white;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .student.Button.active {
    color: #800000;
    background-color: white;
    font-weight: 200;
    border-top-left-radius: 25px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .faculty.Button.active {
    color: #800000;
    background-color: white;
    border-color: white;
    font-weight: 200;
    border-radius: 0;
}

button#viewApplicantButton.nav-link.active::before,
button#viewEnrollmenttButton.nav-link.active::before {
    background: none;
}

div#viewApplicantButton.tab-pane.active.show::before,
div#viewEnrollmenttButton.tab-pane.active::before {
    background: none;
}


/* Information Content */

.tab-content {
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#enrollmentTabContent #table-bodyEnroll td,
#applicantTabContent #table-bodyAppl td {
    font-weight: 200;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#enrollmentTabContent #table-bodyEnroll tr,
#applicantTabContent #table-bodyAppl tr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.addBtn,
.confirmBtn,
.confirmEnrollment {
    font-size: 0.8rem;
    background: #DB1A00;
    border: none;
    opacity: 0.9;
    padding: 2px 7px;
}

.addBtn:hover,
.confirmBtn:hover,
.confirmEnrollment:hover {
    background: #DB1A00;
    opacity: 1;
}

.addALL {
    background: #920003;
    opacity: 0.9;
    border: none;
    font-size: 0.8rem;
    color: white;
}

.addALL:hover {
    background: #920003;
    opacity: 1;
}

.addALL:focus {
    background: maroon;
}

.enrollmentDetails {
    background: white;
    border-radius: 25px;
    border: 0.1px solid rgb(221, 220, 220);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
}

.tabHeader {
    background: maroon;
    font-size: 1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.tabHeader p {
    font-weight: 500;
    letter-spacing: 1px;
}

.tabDetails {
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.modal-header {
    background: maroon;
}

.modal-title {
    letter-spacing: 1.5px;
    font-weight: 500;
}

.modal-footer button.btn-primary {
    background: #a94c4c;
    border: none;
    opacity: 0.9;
}

.modal-footer button.btn-primary:hover {
    opacity: 1;
}

span.confirmTitle {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.viewStudentContent {
    font-size: 1rem;
}


/* receipt attachment modal */

#receiptAttachment {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
    max-height: max-content;
}

#receiptAttachment:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modalReceipt {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 10;
    padding-left: 15rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modalReceiptContent {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 650px;
    max-height: 500px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modalReceiptContent,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 40px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 768px) {
    .modalReceiptContent {
        width: 100%;
    }
    .modalReceipt {
        padding-left: 16rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 680px) {
    .modalReceipt {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    span.confirmTitle {
        font-size: 1.2rem;
    }
    #viewStudentAvatar {
        width: 120px;
    }
    .viewStudentContent {
        font-size: 0.9rem;
    }
}

.table-body tr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-body td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}