
/*Admin Tab*/
.AdminTab h3{
    font-size: 1.5rem;
    font-weight: 800;
}
/* #back-button .btn{
    background-color: #800000;
    color: white;
    border-color: transparent;
    margin-bottom: 20px;
}
.btn:focus{
    box-shadow: none;
}
#back-button a:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
} */

/*Create Page*/
#create{
    margin-bottom: 20px;
}
.accordion-item{
    border-radius: 30px;
}
.accordion-button{
    background-color: #302323;
    color: white;
    font-size: 0.9rem;
    padding: 15px 1.3rem;
}
.accordion-item:first-of-type .accordion-button{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.accordion-item:last-of-type {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: maroon;
}
.accordion-item:last-of-type {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.accordion-button::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:not(.collapsed){
    background-color: #800000;
    color:white;
}
.accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:focus{
    box-shadow: none;
}
#addAdminForm .form-control:focus{
    box-shadow: none;
    border-color: #800000;
}

/* Save and Cancel Button */

#saveAdmin,
#saveEdit{
    background-color: #800000;
    border-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0px 8px;
}
#saveAdmin:hover,
#saveEdit:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
}
#cancelAdmin,
#cancelEdit,
#closeView{
    background-color: #aaaaaa;
    border-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0px;
}
#cancelAdmin:hover,
#cancelEdit:hover,
#closeView:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
}
.btn:focus{
    box-shadow: none;
}

/*Search*/
#Search{
    text-align: right;
}

select:invalid{
    color: gray;
}

option{
    color: black;
}

select:active{
    box-shadow: none;
}

textarea:focus, input:focus{
    outline: none;
}

#search{
    color: white;
    background-color: #800000;
    padding: .1rem .5rem;
}

#search i{
    font-size: 10px;
}

/*Admin List*/
.table-wrapper{
    background: white;
    border-radius: 25px;
    border: 0.1px solid rgb(221, 220, 220);
}
.table-title{
    background-color: #800000;
    color: white;
    text-align: center;
    border-radius: 25px 25px 0 0 ;
}
.table-title h2{
    font-size: inherit;
    margin: 15px;
}
#table-body thead{
    text-align: center;
}
#table-body tbody{
    text-align: center;
}

/* Action Button */
#table-body tbody .action-buttons li{
    list-style-type: none;
    display: inline-block;
}
#table-body tbody .action-buttons li button{
    color: white;
    background-color:maroon;
    font-size: 0.55rem;
    padding: 3px 5px;
    opacity: 0.93;
    margin-top: 2.5px;
}
#table-body tbody .action-buttons li #status{ 
    color: white;
    background-color:maroon;
    font-size: 0.53rem;
    opacity: 0.93;
    padding: 4.2px 7px;
    border-radius: 3px;
    cursor: pointer;
}
#table-body tbody .action-buttons li button:hover, #table-body tbody .action-buttons li #status:hover{
    opacity: 1;
}
#table-body tbody .action-buttons li button:focus{
    box-shadow: none;
}

/* Admin View */
.table-wrapper-2{
    background: white;
    border-radius: 25px;
}

/* Edit Admin */
.modal-header{
    background-color: #800000;
    color: white;
}

.modal .cont{
    font-size: 1rem;
}

@media only screen and (max-width: 576px) {
    .hashed{
        font-size: 0.9rem;
    }
}

ul{
    margin: 0px;
    padding: 0px;
}
.form-control[readonly] {
    background-color: white;
    opacity: 1;
}