/* add exam schedule */

.form-select,
.form-control {
    font-size: 0.95rem;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: #800000;
}

/* Add buttons exam */

button#examSave,
button#examEditSave {
    background-color: #800000;
    border-color: transparent;
    color: white;
    text-decoration: none;
    margin-right: 8px;
    font-size: 0.8rem;
}

button#examCancel,
button#examEditCancel {
    background-color: #aaaaaa;
    border-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
}

button#examSave:hover,
button#examEditSave:hover {
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}

button#examCancel:hover,
button#examEditCancel:hover {
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}


/* Switch tabs */

#enrollmentTabContent .searchBG,
#applicantTabContent .searchBG {
    color: white;
    background-color: #800000;
    padding: .1rem .5rem;
    font-size: 11px;
}

.select {
    color: gray;
    font-size: 0.8rem;
    padding: .1rem 0;
}

option {
    color: black;
    font-style: normal;
}

#viewApplicantEnrolledStudents td {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 5px;
}

#viewApplicantEnrolledStudents {
    border: 0.1px solid rgb(221, 220, 220);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

ul#viewTab.nav {
    background-color: maroon;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.nav-tabs .nav-link{
    color:white;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    border-top-left-radius: 18px;
    border-top-right-radius:18px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top-left-radius: 18px;
    border-top-right-radius:18px;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}

button#viewApplicantButton.nav-link.active::before,
button#viewEnrollmenttButton.nav-link.active::before {
    background: none;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}

div#viewApplicantButton.tab-pane.active.show::before,
div#viewEnrollmenttButton.tab-pane.active::before {
    background: none;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;

}


/* Information Content */

.tab-content {
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#enrollmentTabContent #table-bodyEnroll td,
#applicantTabContent #table-bodyAppl td,
#scheduleTabContent #table-bodySched td {
    font-weight: 200;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}

#enrollmentTabContent #table-bodyEnroll tr,
#applicantTabContent #table-bodyAppl tr,
#scheduleTabContent #table-bodySched tr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.addBtn,
.confirmBtn,
.confirmEnrollment {
    font-size: 0.7rem;
    background: #DB1A00;
    border: none;
    opacity: 0.9;
    padding: 3px 8px;
}

.addBtn:hover,
.confirmBtn:hover,
.confirmEnrollment:hover {
    background: #DB1A00;
    opacity: 1;
}

.addALL {
    background: #df0404;
    opacity: 0.9;
    border: none;
    font-size: 0.93rem;
    color: white;
}

.addALL:hover, .addALL:focus  {
    background: #df0404;
    opacity: 1;
    box-shadow: none;
}


.enrollmentDetails {
    background: white;
    border-radius: 25px;
    border: 0.1px solid rgb(221, 220, 220);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
}

.tabHeader {
    background: maroon;
    font-size: 1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.tabHeader p {
    font-weight: 500;
    letter-spacing: 1px;
}

.tabDetails {
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.modal-header {
    background: maroon;
}

.modal-title {
    letter-spacing: 1.5px;
    font-weight: 500;
}

.modal-footer button.btn-primary {
    background: #a94c4c;
    border: none;
    opacity: 0.9;
}

.modal-footer button.btn-primary:hover {
    opacity: 1;
}

span.confirmTitle {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.viewStudentContent {
    font-size: 1rem;
}

.tabDetails h6.step {
    background-color: #f4f4f4;
    border:1px solid #d8e3eb;
    max-width: fit-content;
    border-radius: 5px;
}


/* requirements modal */

.reqModal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background-color: rgba(0, 0, 0, 0.9);
}

hr {
    opacity: 0.7;
}

.modal-Requirementscontent {
    position: relative;
    margin: auto;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width:fit-content;
    height: 100%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    -moz-animation-name: zoom;
    -moz-animation-duration: 0.6s;
    -o-animation-name: zoom;
    -o-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* The Close Button */

.closeRequirement {
    color: white;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.closeRequirement:hover,
.closeRequirement:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.modal-Requirementscontent .prev,
.modal-Requirementscontent .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* receipt attachment modal */

#receiptAttachment {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
    max-height: max-content;
}

#receiptAttachment:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modalReceipt {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 10;
    width: 100%;
    height: 100%;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
}


/* Modal Content (image) */

.modalReceiptContent {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 650px;
    max-height: 500px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modalReceiptContent,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 40px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 768px) {
    .modalReceiptContent {
        width: 100%;
    }
    .modalReceipt {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 680px) {
    span.confirmTitle {
        font-size: 1.2rem;
    }
    #viewStudentAvatar {
        width: 120px;
    }
    .viewStudentContent {
        font-size: 0.9rem;
    }
}

.table-body, tr #table-bodySched tr{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 
}


.table-body td, #table-bodySched td{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#table-bodySched tbody .action-buttons {
    list-style-type: none;
    display: inline-block;
}

#table-bodySched tbody .action-buttons button {
    color: white;
    background-color: maroon;
    font-size: 0.58rem;
    padding: 2.8px 5px;
    opacity: 0.9;
}

#table-bodySched tbody .action-buttons button#edit:focus {
    outline: none;
    box-shadow: none;
}

#table-bodySched tbody .action-buttons button#deactSched {
    color: white;
    background-color: maroon;
    font-size: 0.53rem;
    opacity: 0.9;
    padding: 3.3px 7px;
    border-radius: 3px;
    cursor: pointer;
    width: 57px;
    margin-left: 1px;
}

#table-bodySched tbody .action-buttons button:hover,
#table-bodySched tbody .action-buttons button#deactSched:hover {
    opacity: 1;
}

#table-body tbody .action-buttons li button:focus {
    box-shadow: none;
}

.table-wrapper-2 .bugfix {
    max-width: 32vw;
    margin-bottom: 2rem;
    
}

.wrap {
    background-color: white;
    border-radius: 0.5rem;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media only screen and (max-width: 768px) {
    .table-wrapper-2 .bugfix {
        max-width: 45vw;
    }
    body{
        overflow:visible;
    }
}

.prev, .next {
    position: unset;
}

#viewApplicantDetails{
    font-size: 1rem;
}


#viewApplicantDetails .enrollmentDetails p{
    padding-bottom: 8px;
}