html,
body {
    margin: 0px;
    height: 100%;
    background: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    font-size: 0.94rem;
}

@media (min-width: 767px) {
    .bg-default {
        background: white;
        height: 100vh;
    }
}

@media (max-width: 767px) {
    .bg-default {
        background: white;
        height: 0;
    }
}

@media (max-width: 410px) {
    ul{
        letter-spacing: 0;
        font-size: 0.7rem;
    }
}

span.spare{
    display: none;
}

#personalInfo span.spare1, #educationalattainment span.spare1, #requirement span.spare1 {
    display: none;
}
@media (max-width: 560px) and  (min-width: 543px) and  (min-width: 543px) {
    #personalInfo span.spare1, #educationalattainment span.spare1, #requirement span.spare{
        display: block;
    }
}
@media  (max-width: 565px){
    #personalInfo span.spare, #educationalattainment span.spare, #requirement span.spare{
        display: block;
    }
}
.header {
    background: maroon;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.brand {
    letter-spacing: 1px;
    font-size: 0.9rem;
}

button.cancel {
    border: 1px solid #fac04c;
    color: #fac04c;
    padding: 5px 15px;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    font-family: 'Poppins', sans-serif;
}

button.cancel:hover {
    background: #fac04c;
    border: 1px solid #e69a04;
}

button.cancel:focus {
    box-shadow: none;
}


/* applicant data */

button.logout {
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    font-family: 'Poppins', sans-serif;
}

button.cancel:focus {
    box-shadow: none;
}


/* ------------------ */

.applicant-head {
    padding: 8px;
    background: maroon;
    transition: .5s;
    letter-spacing: 1px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}
img.applicantAvatar{
    width: 125px;
}

.information {
    background: #93D9F6;
    font-size: 0.85rem;
    padding: 15px;
    width: 80%;
}

.information i.fa {
    font-size: 2.2rem;
}

.information p {
    padding-bottom: 0;
    padding-left: 3rem;
    margin-bottom: 0.3rem;
}


/* breadcrumbs */

.step_progressbar {
    display: block;
    width: auto;
    margin: auto;
    background-color: transparent;
}

ul {
    display: block;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 0.8rem;
    counter-reset: step;
}

li {
    display: inline-block;
    position: relative;
    width: 32.22%;
    text-align: center;
    margin-bottom: 15px 0;
}

li:before {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    line-height: 35px;
    text-align: center;
    content: counter(step);
    counter-increment: step;
    margin: 10px auto;
    position: relative;
    z-index: 2;
    font-size: 1rem;
}

li.active {
    color: #d3961d;
    font-weight: bold;
}

li:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #bdbdbd;
    position: absolute;
    top: 25px;
    left: -50%;
    z-index: 1;
}

li:first-child:after {
    content: none;
}

li.active+li:after {
    background-color: #800000;
}

li.active:before {
    background-color: #800000;
    color: #F2BD53;
}

.form-control:focus, .form-select:focus{
    box-shadow: none;
    border-color: #800000;
}


/* personal info */
#personalInfo, #steps{
    display: block;
}
.Wrapper {
    background: white;
    border-radius: 25px;
    border: 0.1px solid rgb(221, 220, 220);
    margin-bottom: 2rem;
    transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.tabTitle {
    background: maroon;
    border-radius: 25px 25px 0 0;
    letter-spacing: 0.8px;
}

.tabTitle p,
.Contents {
    padding: 10px 35px;
}

.Contents {
    border-radius: 0 0 25px 25px;
}

label {
    font-weight: 500;
}


/* step buttons */
.modal .modal-footer .btn-warning{
    background: #F2BD53;
}
.stepButtons .btn-warning{
    background: #F2BD53;
    align-content: flex-end;
    place-items: right;
    align-self: flex-end;
    text-align: left;
    color: maroon;
    font-weight: 500;
    font-size: small;
}

.stepButtons .btn-warning:hover, .modal .modal-footer .btn-warning:hover {
    background: #faba39;
}

.stepButtons .btn-warning:focus, .modal .modal-footer .btn-warning:focus, .stepButtons .btn-secondary:focus, .modal .modal-footer .btn-secondary:focus {
    outline: none;
    box-shadow: none;
}

.stepButtons .btn-secondary, .modal .modal-footer .btn-secondary{
    background: #bdbdbd;
    opacity: 0.8;
    color:black;
    border: 1px solid gray;
}

.stepButtons .btn-secondary:hover, .modal .modal-footer .btn-secondary:hover{
    opacity: 1;
}

/* common styles */
#educationalattainment, #requirement{
    display: none;
}
/* final procedure */

#final_step .Wrapper{
    border: 0.1px solid rgb(221, 220, 220);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

#final_step .Wrapper .Contents p.note1 {
    color: red;
    letter-spacing: 0.5px;
    font-weight: 500;
}

#final_step .Wrapper .Contents h3 {
    letter-spacing: 1px;
    font-size: 1.7rem;
}

#final_step .Wrapper .Contents p.note2,
#final_step .Wrapper .Contents p.note3 {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#final_step .Wrapper .Contents p.note3 {
    color: #00336D;
    letter-spacing: 0.8px;
}

#final_step .Wrapper .Contents p.note4 {
    color: red;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 0.9rem;
}

#final_step .Wrapper .Contents button.download {
    font-size: 0.9rem;
    background: #F2BD53;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid;
    border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#final_step .Wrapper .Contents button.download:hover {
    background: #ffb521;
}

#final_step .Wrapper .Contents .finishedButton {
    background: #DB1A00;
    font-size: 0.9rem;
    opacity: 0.9;
}

#final_step .Wrapper .Contents .finishedButton:hover {
    opacity: 1;
}


/* modal cancel */

.modal-header {
    background: maroon;
    color: white;
}

.modal-title {
    letter-spacing: 1.5px;
    font-weight: 500;
}

.modal-footer button.btn-primary {
    background: #a94c4c;
    border: none;
    opacity: 0.9;
}

.modal-footer button.btn-primary:hover {
    opacity: 1;
}


/* this is needed to make the content scrollable on larger screens */

@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

.row.asterisk .form-label:after {
    content:" *";
    color:red;
    font-size: 1rem;
  }

  .modal h5.confirmtitle{
      letter-spacing: 1px;
      text-align: center;
  }

  #applSidebar{
    border-right: 1px solid rgb(232, 226, 226);
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }