body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.ChangePasswordTab h3{
    font-size: 1.2rem;
    font-weight: 800
}

/*.Box-title{
    background-color: #800000;
    color: white;
    text-align: left;
    border-radius: 20px 20px 0 0 ;
}*/

.passContents{
    background: white;
    border-radius: 25px;
}

.table-wrapper{
    border: 0.1px solid rgb(221, 220, 220);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: white;
    
}

.Changepassword-header{
    background-color: #800000;
    color: white;
    border-radius: 25px 25px 0 0 ;
    padding-top: 2px;
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 0.8rem;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 0.8rem;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 0.8rem;
}


#save:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}
#cancel:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}

#save{
    background-color: #800000;
    border-color: transparent;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 0.8rem;
    margin-top: 5px;
    
}
#cancel{
    background-color: #aaaaaa;
    border-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 5px;
}
