body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

/* Title Page */

.myProfile h3{
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 0;
}
/* Change profile picture */
.profile-pic-div {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid grey;
}

#facultyPhoto{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .profile-pic-div {
        height: 140px;
        width: 200px;
    }
}
.info, .info1{
    font-size: 1rem;
}
/* My Profile Details */

#myProfileDetails td{
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 10px 15px 0px;
}

/* Table Responsiveness */

.table-wrapper{
    background: white;
    border-radius: 25px;
    border: 0.1px solid rgb(221, 220, 220);
}
.table-title{
    background-color: #800000;
    color: white;
    text-align: center;
    border-radius: 25px 25px 0 0;
}
.table-title h2{
    font-size: 1rem;
    margin: 12px 12px 12px 22px;
    text-align: start;
}
#table-body thead{
    text-align: center;
}
#table-body tbody{
    text-align: center;

}
#table-body tr{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#table-body td{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Form Responsiveness */

label.form-label{
    margin-bottom: 0;
}
.form-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-control{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}
.form-control:focus{
    box-shadow: none;
    border-color: #800000;
}
.form-control::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 1rem;
}
.form-control:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    font-size: 1rem;
}
.form-control::-ms-input-placeholder{ /* Microsoft Edge */
    font-size: 1rem;
}
input[type=text], input[type=date], input[type=time], textarea{
    color: black;
    font-size: 1rem;
}
.form-control:disabled, .form-control[readonly]{
    background-color: white;
    opacity: 1;
    font-size: 1rem;
}

/* ... */

.mb-1{
    margin-bottom: 0!important;
}

/* Edit, Save, Cancel Button */

#edit{
    background-color: #800000;
    border-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0px 8px;
}
#edit:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}
#save{
    background-color: #800000;
    border-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0px 8px;
}
#cancel{
    background-color: #aaaaaa;
    border-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0px;
}
#save:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}
#cancel:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}
.btn:focus{
    box-shadow: none;
}

/* Modal */

.modal-header{
    background-color: #800000;
    color: white;
}

.modal-content{
    font-size: 1rem;
}
