body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

/* Title Page */

.FacultyTab h3{
    font-size: 1.5rem;
    font-weight: 800;
}

/* Back Button */

#back-button{
    background-color: #800000;
    color: white;
    border-color: transparent;
    margin: 0px 10px 10px 0px; /*align button and title*/
}
#back-button:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
}
.btn:focus{
    box-shadow: none;
}

/* Accordion */

.accordion-item{
    border-radius: 30px;
}
.accordion-item:first-of-type .accordion-button{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.accordion-item:last-of-type{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.accordion-item:last-of-type .accordion-button.collapsed{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: maroon;
}
.accordion-button{
    background-color: #302323;
    color: white;
    font-size: 0.9rem;
    padding: 15px 1.3rem;
}
.accordion-button::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:not(.collapsed){
    background-color: #800000;
    color:white;
}
.accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:focus{
    box-shadow: none;
}

/* Save and Cancel Button */

#addProfessorSave,
#save{
    background-color: #800000;
    border-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0px 8px;
}
#addProfessorSave:hover,
#save:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}
#addProfessorCancel,
#cancel{
    background-color: #aaaaaa;
    border-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0px;
}
#addProfessorCancel:hover,
#cancel:hover{
    background-color: white;
    border-color: #800000;
    color: #800000;
    font-size: 0.8rem;
}

/* Form Responsiveness */

.form-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-control{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-control:focus{
    box-shadow: none;
    border-color: #800000;
}

/* Table Responsiveness */

.table-wrapper{
    background: white;
    border-radius: 25px;
    border: 0.1px solid rgb(221, 220, 220);
}
.table-title{
    background-color: #800000;
    color: white;
    text-align: center;
    border-radius: 25px 25px 0 0 ;
}
.table-title h2{
    font-size: inherit;
    margin: 15px;
}
.table-body thead{
    text-align: center;
}
.table-body tbody{
    text-align: center;
    line-height: 32px;
}
.table-body tr{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-body td{
 max-width: 200px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 /* line-height: 0; */
}

/* Action Button */

.table-body tbody .action-buttons ul li{
    list-style-type: none;
    display: inline-block;
}
.table-body tbody .action-buttons ul li button{
    color: white;
    background-color:maroon;
    font-size: 0.55rem;
    padding: 3px 5px;
    opacity: 0.93;
}
.table-body tbody .action-buttons ul li #status{ 
    color: white;
    background-color:maroon;
    font-size: 0.53rem;
    opacity: 0.93;
    padding: 4.2px 7px;
    border-radius: 3px;
    cursor: pointer;
}
.table-body tbody .action-buttons ul li button:hover, .table-body tbody .action-buttons ul li #status:hover{
    opacity: 1;
}
.table-body tbody .action-buttons ul li button:focus{
    box-shadow: none;
}

/* Modal */

.modal-header{
    background-color: #800000;
    color: white;
}

/* Filter and Search */

#filterAndSearch-main,
#filterAndSearch{
    text-align: right;
}
select:invalid{
    color: gray;
}
option{
    color: black;
}
select:active{
    box-shadow: none;
}
textarea:focus, input:focus{
    outline: none;
}
#search-main,
#search{
    color: white;
    background-color: #800000;
    padding: .1rem .5rem;
}
#search-main i,
#search i{
    font-size: 10px;
}

/* Professor View Page Title */

.viewProfessorTitle h3{
    font-size: 1.5rem;
    font-weight: 800;
    display: inline;
}

/* Professor View Page Avatar */

.profile-pic-div{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid grey;
}

#facultyPhoto{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 768px){
    .profile-pic-div{
        height: 140px;
        width: 200px;
    }
}
.info, .info1{
    font-size: 1rem;
}

/* Professor View Page Details */

#viewProfessorInformation p{
    color: black;
    text-align: start;
    padding-right: 10px;
}

/* Professor View Page Tab-Header */

ul#viewProfessorTab.nav{
    background-color: #800000;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #800000;
    background-color: white;
    border-color: white;
    font-weight: 200;
}
button#viewProfessorInformationTab.nav-link.active{
    border-top-left-radius: 25px;
}
button#viewProfessorInformationTab.nav-link.active::before,
button#viewProfessorSubjectTab.nav-link.active::before,
button#viewProfessorSectionTab.nav-link.active::before{
    background: none;
}
div#ProfessorInformation.tab-pane.active.show::before,
div#ProfessorSubject.tab-pane.active::before,
div#ProfessorSection.tab-pane.active::before{
    background: none;
}

/* Professor View Page Tab-Content */

div#viewProfessorTabContent.tab-content{
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#viewProfessorTabContent label{
    color: rgb(95, 95, 95);
    font-weight: 200;
}
#ProfessorSubject .table-body td,
#ProfessorSection .table-body td{
    font-weight: 200;
}
.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}
