/* global styles on login */

body,
html {
    font-family: 'Poppins', sans-serif;
    overflow-x: none;
    background: #f4f4f4;
    height: 100%;
}

* {
    box-sizing: border-box;
}


/* header styles */

.navbar {
    padding-top: 20px;
}

.navbar-light .navbar-nav {
    padding-right: 30px;
}

.navbar-light button.navbar-toggler,
.navbar-light button.navbar-toggler:focus {
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 3px;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.navbar-light .navbar-brand {
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: white;
    padding-left: 15px;
}

a {
    position: relative;
    text-decoration: none;
}

.navbar .navbar-nav .nav-link:hover {
    color: #000000;
}

a {
    position: relative;
    text-decoration: none;
}

a.active {
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    position: relative;
    margin-top: 5px;
    top: 20%;
    /* text-decoration: 2px solid underline brown ; */
    color: black;
    font-weight: bold;
}

.nav-item {
    padding-right: 30px;
}


/* form wrapper for student, faculty, admin */

.wrapper {
    position: absolute;
    margin: 0 auto;
    padding: 16px;
    width: 425px;
    top: 55%;
    right: -7%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}

.input-group-addon {
    position: absolute;
    padding: 8px 12px;
    font-size: 0.8rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: black;
    padding-bottom: 2rem;
}

h3.applicant {
    font-size: 1.7rem;
}

.errormsg {
    color: red;
    padding-bottom: 0;
    margin-bottom: 0;
    font-style: oblique;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    font-weight: 500;
}

hr {
    background-color: black;
    opacity: 0.8;
    margin-top: 2px;
}

form {
    font-family: 'Roboto', sans-serif;
}

label {
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    color: black;
}

.wrapper p {
    font-size: 0.9rem;
    margin-top: 10px;
}

.btn-default {
    background: #B20000;
    width: 80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: .7rem;
    border: none;
    padding: 5px 7px;
    color: white;
}

.btn-default:hover {
    background-color: #F2BD53;
    opacity: 1;
    color: black;
    font-weight: 500;
}

.btn-default:focus {
    padding: 0;
    margin: 0;
    opacity: 1;
    box-shadow: none;
}

.wrapper p.text-left {
    color: blue;
}

.wrapper p.text-left:hover {
    transform: none;
    font-weight: 300;
}

.text-left1:hover {
    text-shadow: 0.2px 0.2px black;
}

.navbar-light button.navbar-toggler {
    outline: none;
}

.wrapper .apply {
    width: 100%;
    padding: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    background:#f39f21;
    opacity: 0.85;
    color: black;
}

.wrapper .apply:hover {
    background-color: #f39303;
    opacity: 1;
}

form .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 0.8rem;
    font-family: 'Playfair', sans-serif;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 0.8rem;
    font-family: 'Playfair', sans-serif;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 0.8rem;
    font-family: 'Playfair', sans-serif;
}

input[type=text],
input[type=password] {
    color: black;
    font-size: 0.9rem;
    padding-left: 35px;
}

@media screen and (max-width: 1024px) {
    .navbar-light {
        background: maroon;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
        border-bottom: 1px solid white;
    }
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }
    .navbar-light img {
        width: 40px;
    }
    .navbar-light .navbar-brand {
        font-size: .8rem;
        padding-left: 0;
        color: white;
    }
    .navbar {
        padding-top: 5px;
    }
    .wrapper {
        left: 50%;
        top: 50%;
        right: 0%;
    }
}

@media screen and (max-width: 570px) {
    .wrapper {
        width: 350px;
        padding-bottom: 5px;
    }
    .wrapper p {
        font-size: 0.7rem;
    }
    .wrapper .apply {
        font-size: 0.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 375px) {
    .navbar-light img {
        width: 30px;
    }
    .navbar-light .container-fluid {
        margin-left: 0;
    }
    .wrapper {
        left: 50%;
        top: 51%;
        width: fit-content;
    }
    label,
    h5 {
        font-size: 0.8rem;
    }
    h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 280px) {
    .wrapper {
        width: 200px;
        margin: 1rem;
    }
}
#verification{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#applicantLogin .notice{
    font-size: 0.9rem;
}

.modal .line{
    opacity: 0.3;
}
.modal-backdrop { 
    opacity:0.3 !important; 
}

.modal .head{
    background: #f4f4f4;
    border: #bdbdbd;
} 
.modal .btn-default {
    background: maroon;
}
.modal .btn-default:hover {
    background: rgb(174, 0, 0);
    border: 1px solid maroon;
    color: white;
}
.modal .btn-secondary{
    font-size: 0.8rem;
    background-color: #8f8d8d;
}
.modal .btn-secondary:hover{
    opacity: 1;
    background: none;
    border: 1px solid #7b7b7b;
    color: black;
}

.modal .btn-secondary:focus, .modal .btn-default:focus{
    outline: none;
    box-shadow: none;
}

.modal .form-control:focus{
    box-shadow: none;
    outline: maroon;
    border: 1px solid steelblue
}
